.demo {
    padding: 25px;
    width: 100%;
    background: #f0f2f5;
    .card {
        display: inline-block;
        margin: 0 15px 10px 0;
        width: 260px;
        height: 100%;
    }
    .active {
        background: #ffeae6;
        color: #f00;
    }
    :global {
        .ant-card-body {
            padding: 12px 24px;
        }
    }
}
