.box {
    color: aqua;
    display: block;
    width: 300px;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid green;
    span {
        font-size: 25px;
        color: chartreuse;
    }
}
.brother {
    border: 1px solid yellow;
}
