//Colors
$primary-color: #00f;
// Background color for `<body>`
$body-background: #fff;
// Base background color for most components
$component-background: $body-background;
// Border color
$border-color-base: #dfdfdf; // base border outline a component
$border-color-split: #dfdfdf; // split border inside a component
//Base
$heading-color: #fff;
$text-color: fade(#00f, 65%);
$text-color-secondary: fade(#00f, 43%);
// $component-background   : transparent;
$disabled-color: hsla(0, 0%, 65%, 0.65);
